$point : #ff6c00;
$tablet: 1180px;
$mobile: 639px;

.sect {
    letter-spacing:-0.02em;
    font-size: 16px;
    color:#fff;
    h2 {
        font-size: 120px;
        letter-spacing:-0.08em;
        span {
            font-size: 42px;
            letter-spacing:-0.03em;
        }
    }
    h6 {
        font-size:16px;
        padding:0;
        line-height:1em;
        padding-bottom: 60px;
    }

    & .sect_wrap {
        margin:0 auto;
        max-width:1200px;
    }
    
    &.sect1 {
        height:100vh;
        display:flex;
        justify-content:end;
        position:relative;
        // background: url(../img/db-s1-bg.jpg) no-repeat center /cover;
        background:black;
       
        color:#fff;
        .sect_wrap {
            width:100%;
            padding-left:40px;
            max-width:none;
            display:flex;
            
            flex-direction:column;
            justify-content:flex-end;
            padding-bottom: 40px;
            h2 {
                letter-spacing:0;
                font-size: 82px;
            }
            p {
                font-size:24px;
            }
        }
    }
    &.sect2 {
        padding: 180px;
        height:100vh;
        background:$point;
        color:#000;

        .sect_wrap {
            width:1000px;
        }

        p {
            font-size:42px;
        }
    }
    &.sect3 {
        font-size: 72px ;
        min-height:100vh;
        padding-top:100px;
        margin-bottom:180px;

        .row {
            display:flex;
            gap: 60px;
            justify-content:space-between;

            a {
                position:relative;
                span {
                    font-size: 24px;
                    position:absolute;
                    top:15px; left: 105%;
                }
            }

            .right {
                width: 60%;
                position:relative;

                img {
                    width:100%;
                    position:absolute;
                }
            }
        }
    }

    &.sect4 {
        font-size:60px;
        height:100vh;
       background:$point;
       padding:180px 0;
       display:flex;
       justify-content:center;
       align-items:center;
       position:relative;
       background:#000;

       
       .sound {
        font-size: 24vw;
        white-space:nowrap;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        color:#0059ff
       }
    }

    &.sect5 {
        display:flex;
        padding:180px 0;
        background:#fff;
        color:#000;
        
        .sect_wrap {
            position:relative;
            width:1200px; 
            
            
            img {
                position:absolute;
                top:0;
                left:0;
                max-width: 400px;

                &.his3 {
                    top:auto;
                    bottom: 0;
                }
                &.his2 {
                    top:auto;
                    bottom: 0;
                    right:0;
                    left:auto;
                }
            }

            .history {
                padding-left:40%;
                width:100%;
                position:relative;
                padding-bottom: 600px;

                dl {
                    display:flex;
                    font-size: 42px;
                    padding-bottom:60px;
    
                    dt {
                        width:50%;
                    }
                    dd {
                        width:50%;
                        line-height:1.2;
    
                        span {font-size: 16px;
                        line-height: 1.2;
                        padding-top:10px;
                        display:block;
                    
                    }
                    }
                }
            }
        }



        
    }

    &.sect6 {
        text-align:center;
        padding:180px 0;
        
        p {
            font-size:42px;
            text-align:justify;
            line-height:1.4em;
        }
    }

    &.sect7 {
        background:#000;
        height:100vh;
        font-size: 84px;
        color: #fff;
        display:flex;
        justify-content:center;
        align-items:center;
        padding-right:360px;
        
        position:relative;

        video {
            position:absolute;
            z-index:1;
            top:0;
            left:0;
            width:100%;
            height:100vh;
            opacity:0.7;
            object-fit:cover;
            
        }

        .sect_wrap {
            z-index:2;
        }
        
        // background:url(../img/db-s8-bg.jpg) no-repeat center /cover;
    }
    &.sect8 {
        padding-top: 180px;
        padding-bottom:180px;
        background:#fff;
        color:#000;
        .row {
            padding-top:30px;

            dl {
                display:flex;
                justify-content:space-between;
                dd {
                    font-size: 42px;
                    width:60%;
                    padding-bottom: 120px;

                    span {
                        font-size:24px;
                        padding-top:60px;
                    }
                }
            }
        }
        
    }
    &.sect9 {
        background:#fff;
        color:#000;
        .sect_wrap {
            width:100%;
            max-width:100%;
            padding: 0 40px;
        }
        .motto {
            padding: 100px 60px;
            
            border-radius: 5px;
            background:url(../img/db-s10-bg.jpg) no-repeat center / cover;
            color: #ff6c00;
            font-size:84px;
            line-height:1.2em;
            text-align:center;
        }
        
    }
    footer {
        display:flex;
        justify-content:space-between;
        line-height:70px;
    }
}

@media (max-width:$tablet) {
    nav {
        width:100%;
        padding: 1rem 2rem;
        display:flex;
        justify-content:space-between;
        top:0;
        z-index:9;
        h1 {
            width: 80px;

            a {
                display:flex;
                justify-content:center;
                align-items:center;                
                img {
                    width:100%;
                }
            }
            
        }

        ul {
            display:none;
        }
    }
    .sect {
        .sect_wrap {
            width:100% !important;
            padding: 0 2rem;
            max-width:none;

            h2 {
                font-size:80px;
                span {
                    font-size: 24px;
                }
            }
        }

        &.sect1 {
            .sect_wrap {
                p {
                    font-size:32px;
                }
            }
        }

        &.sect2 {
            padding:100px 0;
            height:auto;
        }

        &.sect3 {
            height:auto;
            width:100%; 
            min-height:70vh;
            
            .sect_wrap {
                width:100px;
                padding:0 2rem;
            }
            .row {
                width:100%;
                font-size: 42px;
                &>div {
                    width:50vw;
                }
            }
        }

        &.sect4 {
            height:auto;
        }

        &.sect5 {
            .sect_wrap {

                .history {
                    padding-bottom:400px;

                    
                }
                img {
                    max-width:30vw;
                    left: 2rem;
                }
            }
            
        }
    }
}

@media (max-width:$mobile) {
    .sect {
        .sect_wrap {
            width:100%;

            h2 {
                font-size:60px;
                span {
                    display:block;
                    padding-bottom: 40px;
                }
            }
        }

        &.sect1 {
            .sect_wrap {
                p {
                    font-size:24px;
                }
            }
        }

        &.sect2 {
            p {
                font-size: 24px;
            }
        }

        &.sect3 {
            .row {
                flex-direction: column;

                &>div {
                    width:100%;
                }

                .right {
                    width:100%;
                }
            }
        }

        &.sect4 {
            padding: 100px 0;

            p {
                font-size:24px;
            }
        }
        
        &.sect5 {
            padding: 100px 0;

            .sect_wrap {
                .history {
                    padding:0;

                    dl {
                        font-size:24px;
                    }
                }

                img {
                    position:static;
                    width:100%;
                    padding-bottom: 20px;
                    max-width:100%;
                }
            }
        }

        &.sect6 {
            padding: 100px 0;
            h6 {
                text-align:left;
            }
            p {
                font-size: 24px;
                word-break:break-all;
            }
        }

        &.sect7 {
            font-size: 42px;
            padding:0;
            
        }

        &.sect8 {

            padding: 100px 0;

            .row {
               dl {
                flex-direction:column;
                text-align:center;
                align-items:center;
                justify-content:center;

                dt {
                    padding-bottom: 40px;
                }
                dd {
                    font-size:24px;
                    width:100%;
                    span {
                        font-size:16px;
                        display:block;
                        padding-top:40px;
                    }
                }
               }
            }
        }

        &.sect9 {
            .sect_wrap {
                padding:0;
                max-width:100%;
                p {
                    font-size: 24px;
                    line-height:1.4em;
                }

                footer {
                    flex-direction: column-reverse;
                    padding: 2em;
                    text-align:center;
                    line-height:1em;
                    gap : 1em;
                    
                    p {
                        font-size: 12px;
                    }

                    a {
                        font-size:12px;
                    }
                }
            }
            
        }

        
    }

}