html {
    overflow-y:scroll;
}
.vision {
    width: 100%;
    overflow: hidden;
    position: relative;

    .searchBox {
        width: 100%;
        padding: 50px 40px 20px;
        font-size: 0;

        input {
            width: 260px;
            height: 30px;
            background: #fff;
            border: 1px solid #ddd;
            padding-left: 10px;
        }
        .btnSearch {
            width: 80px;
            height: 29px;
            margin-left:40px;
            background: #333;
            color: #fff;
            font: bold 12px/29px 'arial';
            text-align: center;
            border: none;
            cursor: pointer;
            margin-left: 5px;
            transform: translateY(-1px);
        }
    }
    .btnSet {
        padding: 0 40px;
    }

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        transition: 1s;

        &.off {
            opacity: 0;
        }
    }

    .wrap {
        opacity: 0;
        transform: translateY(100px);
        transition: 1s;
        margin: 30px;

        &.on {
            opacity: 1;
            transform: translateY(0px);
        }

        &::after {
            content: '';
            display: block;
            clear: both;
        }
        li {
            width: calc(100% / 4);
            float: left;
            padding: 10px;

            > div {
                width: 100%;
                background: #fff;
                padding: 10px;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);

                img {
                    width: 100%;
                }
                .profile {
                    width: 100%;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    padding-right:0;
                    margin-right:0;

                    img {
                        width: 36px;
                    }
                    span {
                        display: inline-block;
                        font: 12px/1;
                        margin-left: 5px;
                    }
                }
                p {
                    font: 18px/1.2 'Architects daughter';
                    color: #777;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .sect {
        &.sect9 {
            .sect_wrap {
                color:#fff;
                background:#000;
            }
        }
    }
}


@media screen and (max-width: $tablet) {
	.vision {
		.wrap {
			li {
				width: calc(100% / 2);
			}
		}
	}

}

@media screen and (max-width: $mobile) {
	.vision {
		.wrap {
			li {
				width: calc(100% / 1);
			}
		}
	}
}